<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>
    
    <div class="container">
        <div class="imagediv">
            <img src="./img/banner-yogaroad.jpg" alt="banner" id="banner">
        </div>
        <h1>Adrian Fung</h1>
        <h4><em>Software Development Portfolio</em></h4>
        <ul class="nav">
            <li><a href="./home">Home</a></li>
            <li><a href="./projects">Projects</a></li>
            <li><a href="./contacts">Contacts</a></li>
        </ul>
        <div class="content">
            <!-- body -->
            <div class="row ind1">
                <img src="./img/mug-af.jpg" class="profilepic" alt="af_mug">
            </div>
            <div class="row ind2">
                <h4>CONTACT ME</h4>
                <p>Got something to say?</p>
                <div>
                    <form action="/">
                    <ul class="form">
                        <li>
                            <label for="name">Name</label>
                            <input type="text" id="name">
                        </li>
                        <li>
                            <label for="email">Email</label>
                            <input type="text" id="email">
                        </li>
                        <li>
                            <label for="message">Message</label>
                            <textarea name="message" id="message" cols="30" rows="10"></textarea>
                        </li>
                        <li>
                            <input type="submit" id="submit">
                        </li>
                    </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>