<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>
    
    <div class="container">
        <div class="imagediv">
            <img src="./img/banner-yogaroad.jpg" alt="banner" id="banner">
        </div>
        <h1>Adrian Fung</h1>
        <h4><em>Software Development Portfolio</em></h4>
        <ul class="nav">
            <li><a href="./home">Home</a></li>
            <li><a href="./projects">Projects</a></li>
            <li><a href="./contacts">Contacts</a></li>
        </ul>
        <div class="content">
            <!-- body -->
            <div class="row ind1">
                <img src="./img/mug-af.jpg" class="profilepic" alt="af_mug">
            </div>
            <div class="row ind2">
                <h4>A WORD FROM THE CREATOR</h4>
                <p>Hi! Welcome to Adrian's programming portfolio. I took an online bootcamp at Coding Dojo in the winter between 2017 and 2018 so that I could understand how programming works today. I've learned so much within the 20 week course, and hope to be able to build something someday. At the moment, I'm still working through C# on the ASP.net CORE framework, which is how I built this site!</p>
            </div>
        </div>
    </div>
</body>
</html>