<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="~/css/index.css">
</head>
<body>
    
    <div class="container">
        <div class="imagediv">
            <img src="./img/banner-yogaroad.jpg" alt="banner" id="banner">
        </div>
        <h1>Adrian Fung</h1>
        <h4><em>Software Development Portfolio</em></h4>
        <ul class="nav">
            <li><a href="./home">Home</a></li>
            <li><a href="./projects">Projects</a></li>
            <li><a href="./contacts">Contacts</a></li>
        </ul>
        <div class="content">
            <!-- body -->
            <h3>Projects</h3>
            <div class="row ind1">project1img</div>
            <div class="row ind2">
                <h4>Project 1</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, est. Corporis qui temporibus aliquam omnis reprehenderit! Harum enim, fugit quo tenetur blanditiis repellat. Tenetur cupiditate exercitationem voluptate non repellendus omnis?</p>
            </div>
            <div class="row ind1">project2img</div>
            <div class="row ind2">
                <h4>Project 2</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, est. Corporis qui temporibus aliquam omnis reprehenderit! Harum enim, fugit quo tenetur blanditiis repellat. Tenetur cupiditate exercitationem voluptate non repellendus omnis?</p>
            </div>
            <div class="row ind1">project3img</div>
            <div class="row ind2">
                <h4>Project 3</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, est. Corporis qui temporibus aliquam omnis reprehenderit! Harum enim, fugit quo tenetur blanditiis repellat. Tenetur cupiditate exercitationem voluptate non repellendus omnis?</p>
            </div>
        </div>
    </div>
</body>
</html>